.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* 根据需要调整星形大小 */
    margin-left:20px;
  }
  
  .star-rating i {
    margin: 0 2px; /* 星形之间的间距 */
  }
  
  /* 定义星形的颜色 */
  .star-rating i.text-warning {
    color: orange;
  }
  
  .star-rating i.text-light {
    color: lightgray;
  }