.circleCard{
    position:relative;
    display: flex;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 22px;
    border-width: 1px;
    border-color:rgba(248,169,202,0.45);
    border-style:solid;
    width:130px;
    height:20px;

    background: white; /* 圆角矩形的背景色 */
    padding: 10px 10px;
    transition: background 0.3s; /* 背景色变化的过渡效果 */
}