.newsCard{
    width:740px;
    height:300px;
    display:flex;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    padding:10px;
    text-decoration: none;
    color:black;
}

.cover{
    padding-top:10px;
    padding-bottom:10px;
    width:40%;
}

.content{
    margin-left:20px;
}